@charset "UTF-8";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center {
  @include flex-center;
  flex-direction: row;
}

@mixin flex-col-center {
  @include flex-center;
  flex-direction: column;
}
